@model ProjetoLoja.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Produto</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id"class="btn btn-light"> Editar </a>
    <a asp-action="Index">Voltar</a>
</div>

